//pallette

$color1: rgba(216, 35, 52, 1);
$color2: rgba(142, 100, 76, 1);
$color3: rgba(226, 182, 143, 1);
$color4: rgba(66, 51, 48, 1);
$color5: rgba(17, 7, 6, 1);
$color6: rgba(167, 23, 32, 1);
$color7: rgba(99, 55, 44, 1);
$color8: rgba(123, 17, 19, 1);
$color9: rgba(92, 16, 16, 1);
$color10: rgba(193, 221, 198, 1);