@import "_extend.scss";

$fadeintime: .5s;
$background_color: #7BE9FF;

$header_text_color: #ca7df9;
$header_box_color: #d5c3cb;

$body_text_color: #6ede6a;
$body_box_color: #ef27a6;

$hover_color: #6cb8f6;

$text_shadow: 1px 3px 2px #1b120e;


$header_font: 'Monoton';
$body_font: 'Koulen';

$header_font_size: 3rem;
$link-size: 1.5rem;

:root{
  font-size: calc(max(3vh, 3vw));
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: black; // Set background color to black
  position: relative;
  margin-top: 0;
  z-index: -1;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  margin-top: 0;
  color: $background_color;
  background-color: black; // Set background color to black
  opacity: 0; // Set initial opacity to 0
  animation: fadein $fadeintime ease-in-out forwards; // Use forwards to keep final state of animation
}

@keyframes fadein {
  from {
    opacity: 0;
    background-color: black; // Set initial background color to black
  }
  to {
    opacity: 1;
    background-color: $background_color; // Set final background color to desired color
  }
}

h1 {
  position: relative;
  font-family: $header_font;
  color: $header_text_color;
  font-size: $header_font_size;
  text-align: center;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  z-index: 1;
  text-shadow: $header_box_color 2px 2px 2px;
  opacity: .9;
  transition: color $fadeintime ease-in, color 1s ease-out, text-shadow $fadeintime ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out;
}

a {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: auto;
  font-family: $body_font;
  color: $body_text_color;
  font-size: $link-size;
  text-shadow: $text_shadow;
  z-index: 5;
  opacity: .8;
}
a:hover{
  color: $hover_color;
}

div {
  text-align: center;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $body_font;
  align-items: center;
  justify-content: center;
  text-align: center;
}
li{
  text-align: left;
  margin-right: 5%;
  z-index: 5;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}