:root {
    --base-font-size: calc(1.5vw + 1.5vh + .5vmin);
    --color-primary: #f5f6a2;
    --color-secondary: #231b1b;
    --color-tertiary: #98f27da4;
    --color-quaternary: #ba6af094;
    --color-quinary: #81ee52;
}
html {
    font-size: var(--base-font-size);
}
@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

@keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-1px, -2px);
    }
    50% {
      transform: translate(-2px, 2px);
    }
    60% {
      transform: translate(-1px, 1px);
    }
    70% {
      transform: translate(-1px, -1px);
    }
    80% {
      transform: translate(-1px, 2px);
    }
    90% {
      transform: translate(-1px, -1px);
    }
    100% {
      transform: translate(0px, 0px);
    }
}
    @keyframes move_heavier {
        0% {
          transform: translate(0px, 0px);
        }
        40% {
          transform: translate(9999px, 9999px);
        }
        50% {
          transform: translate(-4px, 4px);
        }
        60% {
          transform: translate(-20000px, 6px);
        }
        70% {
          transform: translate(-800px, -2px);
        }
        80% {
          transform: translate(152px, 50px);
        }
        90% {
          transform: translate(-2px, -2px);
        }
        100% {
          transform: translate(0px, 0px);
        }
    }

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}

h1 {
    margin: 0;
    justify-content: left;
    align-items: top;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Press Start 2P", sans-serif;
    color: #3adec0;
    opacity: 100%;
    text-shadow: 2px 5px 3px #ff3319;
    transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}

body {
    margin-top: 0%;
    background-size: cover;
    background-position: top;
    background-color: #050000;
    text-align: center;
    position: relative;
    text-shadow: 1px 3px 2px #ff3319;
    z-index: 1;
    overflow-x: hidden;
    color: #a5cbbc;
    font-size: 1.5rem;
    font-family: "Press Start 2P", sans-serif;
    
    
}

a {
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  transition: font-size 3s ease-out;
}

a:hover {
  background-size: 0 3px, 100% 3px;
  color: #de3a3a;
    transition: background-size 400ms;
    text-shadow: 1px 3px 2px #ff3319;
    transition: text-shadow 1s ease-in, text-shadow 1s ease-out, font-size 3s ease-in-out;
    font-size: 2.5rem;
}

a:after {
    font-size: 1.5rem;
    transition: font-size 3s ease-in-out;
}

a:visited {
    color: #073824;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050000;
    top: 25%;
    width: 100%;
    z-index: 1;
    transition: background-color 1s ease-in-out;
    background-color: rgba(24, 1, 1, 0.5);
    animation: shadows 2s ease-in infinite, move 2s ease-in infinite;
}

