:root {
    --base-font-size: calc(1.5vw + 1.5vh + .5vmin);
}
html {
    font-size: var(--base-font-size);
}

@keyframes darken {
    0% {
        opacity: .3
    }

    50% {
        opacity: .01
    }

    85% {
        opacity: .00001
    }

    100% {
        opacity: 0
    }
}

@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}


body {
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5em;
    color: #7b1113;
    text-shadow: 0 0 5px #294e3e;
    z-index: -5
}

.layer:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    pointer-events: none;
    animation: darken 2s steps(10) infinite alternate-reverse
}

.layer:nth-child(1) {
    background: linear-gradient(to bottom, #8618ae, #444bfc);
    box-shadow: inset 0 0 200px #294e3e;
    transform: scale(1)
}

.layer:nth-child(2) {
    background: linear-gradient(to bottom, #d72f89, #9e214c);
    box-shadow: inset 0 0 400px rgba(0, 0, 0, .5);
    transform: scale(.9);
    transform-origin: bottom
}

.layer:nth-child(3) {
    background: linear-gradient(to bottom, #444bfc, #6739f4);
    box-shadow: inset 0 0 500px rgba(0, 0, 0, .5);
    transform: scale(.8);
    transform-origin: bottom
}

.layer:nth-child(4) {
    background: linear-gradient(to bottom, #6f44da, #8b78fb);
    box-shadow: inset 0 0 600px rgba(0, 0, 0, .5);
    transform: scale(.7);
    transform-origin: bottom
}

.layer:nth-child(5) {
    background: linear-gradient(to bottom, #8618ae, #9e214c);
    box-shadow: inset 0 0 700px rgba(0, 0, 0, .5);
    transform: scale(.6);
    transform-origin: bottom
}

.layer:nth-child(6) {
    background: linear-gradient(to bottom, #d72f89, #6739f4);
    box-shadow: inset 0 0 800px rgba(0, 0, 0, .5);
    transform: scale(.5);
    transform-origin: bottom
}

.layer:nth-child(7) {
    background: linear-gradient(to bottom, #444bfc, #8b78fb);
    box-shadow: inset 0 0 900px rgba(0, 0, 0, .5);
    transform: scale(.4);
    transform-origin: bottom
}

.layer:nth-child(8) {
    background: linear-gradient(to bottom, #444bfc, #8618ae);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, .5);
    transform: scale(.3);
    transform-origin: bottom
}

.layer:nth-child(9) {
    background: linear-gradient(to bottom, #9e214c, #d72f89);
    box-shadow: inset 0 0 1100px rgba(0, 0, 0, .5);
    transform: scale(.2);
    transform-origin: bottom
}

.layer:nth-child(10) {
    background: linear-gradient(to bottom, #6739f4, #444bfc);
    box-shadow: inset 0 0 1200px rgba(0, 0, 0, .5);
    transform: scale(.1);
    transform-origin: bottom
}

.layer:nth-child(11) {
    background: linear-gradient(to bottom, #8b78fb, #6f44da);
    box-shadow: inset 0 0 1300px rgba(0, 0, 0, .5);
    transform: scale(.05);
    transform-origin: bottom
}

.layer:nth-child(12) {
    background: linear-gradient(to bottom, #9e214c, #d72f89);
    box-shadow: inset 0 0 1400px rgba(0, 0, 0, .5);
    transform: scale(.025);
    transform-origin: bottom
}

.layer:nth-child(13) {
    background: linear-gradient(to bottom, #d72f89, #6739f4);
    box-shadow: inset 0 0 1500px rgba(0, 0, 0, .5);
    transform: scale(.0125);
    transform-origin: bottom
}

.layer:nth-child(14) {
    background: linear-gradient(to bottom, #9e214c, #444bfc);
    box-shadow: inset 0 0 1600px rgba(0, 0, 0, .5);
    transform: scale(.00625);
    transform-origin: bottom
}

.layer:nth-child(15) {
    background: linear-gradient(to bottom, #d72f89, #6739f4);
    box-shadow: inset 0 0 1700px rgba(0, 0, 0, .5);
    transform: scale(.003125);
    transform-origin: bottom
}

.layer:nth-child(16) {
    background: linear-gradient(to bottom, #9e214c, #444bfc);
    box-shadow: inset 0 0 1800px rgba(0, 0, 0, .5);
    transform: scale(.0015625);
    transform-origin: bottom
}

a {
    color: #af9999;
    font-size: 2.5rem;
    font-family: "Oswald";
    text-shadow: 12px 12px 25px rgba(8, 255, 148, .6);
    text-decoration-color: #5e0000;
    text-decoration-line: underline;
    text-align: center;
    text-decoration-thickness: .25rem;
}

a:hover {
    color: #d72f89;
    text-decoration-color: rgba(47, 215, 125, .9);
    animation: bounceText 2.5s ease-in-out infinite alternate
}

li {
    display: flex;
    align-items: top;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}