html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --base-font-size: calc(1.5vw + 1.5vh + .5vmin);
}
html {
    font-size: var(--base-font-size);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    button {
        padding: .25rem;
        font-size: .125rem;
    }
}

@keyframes pulse {
    0% {
        background-size: 0%
    }

    50% {
        background-size: 500vh
    }

    100% {
        background-size: 0%
    }
}

@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: pulse 30000s linear infinite;
    background: radial-gradient(ellipse, #000, #7b1113);
    opacity: 100%;
  }
  
  @media (min-aspect-ratio: 1/1) {
    /* If the viewport is wider than it is tall */
    .background {
      height: 100%;
      width: 100%;
    }
  }
  
  @media (max-aspect-ratio: 1/1) {
    /* If the viewport is taller than it is wide */
    .background {
      height: 100%;
      width: 100%;
    }
  }

h1 {
    display: flex;
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    opacity: 100%;
    text-shadow: 5px 5px 2px rgba(5, 221, 198, 1);
    transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    animation-fill-mode: backwards;
    font-family: "Prompt", sans-serif
}

.polygon-button {
    position: relative;
    background: rgba(175, 148, 59, 0.7);
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: "Prompt", sans-serif;
    transition: color 0.3s ease-in;
    outline: 1px solid black;
}

.polygon-button:hover {
    background:rgba(5, 221, 198, .7);
    opacity: .5;
}

.polygon-button svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    fill: #423330;
    transition: fill 0.3s ease-in;
}

.polygon-button span {
    position: relative;
    z-index: 1;
    padding: .5rem;
    display: inline-block;
    color: #635ae7;
}
.polygon-button:hover span {
    position: relative;
    z-index: 1;
    padding: .5rem;
    display: inline-block;
    color: #0e0505;
}
.polygon-button:hover svg {
    background: rgba(5, 20, 198, .5);
    fill: #e62222;
    opacity: .7;

}

.polygon-button:active svg, 
.polygon-button:focus svg {
    fill: #a71720;
}

.polygon-button:not(:hover) svg {
    fill: #423330;
}
