html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:root {
    --base-font-size: calc(1.5vw + 1.5vh + .5vmin);
}
html {
    font-size: var(--base-font-size);
}

@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}


h1 {
    display: flex;
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    opacity: 100%;
    text-shadow: 5px 5px 2px rgba(5, 221, 198, 1);
    transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(78, 43, 78);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    animation-fill-mode: backwards;
    font-family: "Prompt", sans-serif
}
  
a{
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    color: #549e6a;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1.5s;
    letter-spacing: .25rem;
    overflow: hidden;
}
a:hover{
    background: #549e6a;
    color: #050801;
    box-shadow: 0 0 5px #549e6a,
                0 0 25px #549e6a,
                0 0 50px #549e6a,
                0 0 200px #549e6a;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03f44b);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#84f403);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#47f403);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#36ff04);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}