:root {
    --base-font-size: calc(1.5vw + 1.5vh + .5vmin);
}
html {
    font-size: var(--base-font-size);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    button {
        padding: .25rem;
        font-size: .125rem;
    }
}

@keyframes pulse {
    0% {
        background-size: 0%
    }

    50% {
        background-size: 500%
    }

    100% {
        background-size: 0%
    }
}

@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: pulse 30000s linear infinite;
    background: radial-gradient(ellipse, #000, #7b1113);
    overflow: hidden;
    opacity: 100%;
  }
  
  @media (min-aspect-ratio: 1/1) {
    /* If the viewport is wider than it is tall */
    .background {
      height: 100%;
      width: 150%;
    }
  }
  
  @media (max-aspect-ratio: 1/1) {
    /* If the viewport is taller than it is wide */
    .background {
      height: 150%;
      width: 100%;
    }
  }

h1 {
    display: flex;
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    color: #000;
    opacity: 100%;
    text-shadow: 5px 5px 2px rgba(5, 221, 198, 1);
    transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: min(100vh, 100vw);
    overflow-y: hidden;
    overflow-x: hidden;
    animation-fill-mode: backwards;
    font-family: "Prompt", sans-serif
}

button {
    background: #423330;
    color: #c1ddc6;
    border-radius: 2.25rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: "Prompt", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: color 0.3s ease-in, background 0.3s ease-in, box-shadow 0.3s ease-in;
    clip-rule: evenodd;
}

button:hover {
    color: #000;
    background: #f10704;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 1000px 0 #e2b68f;
}

button:active, button:focus {
    color: #110706;
    background: #a71720;
    box-shadow: 0px 0px 20px #fff;
}

button:not(:hover) {
    color: #c1ddc6;
    background: #423330;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
