@keyframes pulse {
    0% {
        background-size: 0%
    }

    50% {
        background-size: 500%
    }

    100% {
        background-size: 0%
    }
}

@keyframes text_pulsate {
    0% {
        color: #e2b68f;
        text-shadow: 5px 2px 2px #110706
    }

    25% {
        color: #a71720;
        text-shadow: 2px 2px 5px #423330
    }

    50% {
        color: #110706;
        text-shadow: 2px 5px 2px #e2b68f
    }

    75% {
        color: #c1ddc6;
        text-shadow: 5px 2px 2px #8e644c
    }

    100% {
        color: #e2b68f;
        text-shadow: 5px 2px 2px #110706
    }
}

@keyframes shadow_split {
    0% {
        font-size: 80px;
        text-shadow: 10px, 10px, 10px, rgba(226, 182, 143, .87)
    }

    50% {
        font-size: 100px;
        text-shadow: 2px, 5px, 5px, rgba(226, 182, 143, .87)
    }

    100% {
        font-size: 80px;
        text-shadow: 0px, 0px, 0px, 5px
    }
}

@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    animation: pulse 30000s linear infinite;
    background: radial-gradient(ellipse, #000, #7b1113);
    opacity: 100%
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
    font-size: 100px;
    color: #e2b68f;
    opacity: 100%;
    text-shadow: 5px 5px 2px #c1ddc6;
    transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    animation-fill-mode: backwards;
    font-family: "Prompt", sans-serif
}

button {
    background: #423330;
    color: #c1ddc6;
    border-radius: 150px;
    padding: 42px;
    font-size: 40px;
    font-family: "Prompt", sans-serif;
    opacity: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: opacity 3s ease-in, color 3s ease-in, background 3s ease-in, box-shadow 5s ease-in, opacity 1s ease-out, color 1s ease-out, background 1s ease-out, box-shadow 1s ease-out
}

button:hover {
    opacity: .7;
    color: #a71720;
    background: #110706;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 1000px 0 #e2b68f
}

button:not(:hover) {
    color: #c1ddc6;
    background: #423330;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

button:active {
    color: #110706;
    background: #a71720;
    box-shadow: 0px 0px 20px #fff;
    opacity: 100%
}