@keyframes fade_in {
    from {
        z-index: 99999;
        opacity: 1
    }

    to {
        z-index: -1;
        opacity: 0
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    animation: fade_in 2s;
    opacity: 0;
    transition: opacity 1s ease-in-out, z-index .1ms ease-in-out
}

h1 {
    display: inline;
    margin: 0 auto;
    justify-content: left;
    align-items: top;
    text-align: center;
    font-size: 7vw;
    font-family: "Didact Gothic", sans-serif;
    color: #b5d1cc;
    opacity: 100%;
    text-shadow: 1px 1px 1px #3b2320;
    transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}

body {
    margin-top: 0%;
    background-size: cover;
    background-position: top;
    background-color: #050000;
    position: relative;
    text-shadow: 1px 3px 2px #3b2320;
    z-index: 1;
    overflow-x: hidden;
    color: #a3b1ae;
    font-size: 2.5vw;
    font-family: "Advent Pro", sans-serif
}