:root {
    font-size: max(3vh, 3vw)
}

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #000;
    position: relative;
    margin-top: 0;
    z-index: -1
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    margin-top: 0;
    color: #7be9ff;
    background-color: #000;
    opacity: 0;
    animation: fade_in .5s ease-in-out forwards
}

@keyframes fade_in {
    from {
        opacity: 0;
        background-color: #000
    }

    to {
        opacity: 1;
        background-color: #7be9ff
    }
}

h1 {
    position: relative;
    font-family: "Monoton";
    color: #B1839F;
    font-size: 3rem;
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    z-index: 1;
    text-shadow: #d5c3cb 2px 2px 2px;
    opacity: .9;
    transition: color .5s ease-in, color 1s ease-out, text-shadow .5s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out
}

a {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: auto;
    font-family: "Koulen";
    color: #6ede6a;
    font-size: 1.5rem;
    text-shadow: 1px 3px 2px #1b120e;
    z-index: 5;
    opacity: .8
}

a:hover {
    color: #6cb8f6
}

div {
    text-align: center
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Koulen";
    align-items: center;
    justify-content: center;
    text-align: center
}

li {
    text-align: left;
    margin-right: 5%;
    z-index: 5
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0
}