{% extends "base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
<script src="/js/lava_lamp.js" type="module"></script>
<link rel="stylesheet" href="{{ get_url(path="work.css") }}">
<div class="background"></div>
  <h1 class="title">
    {{ section.title }}
    <div class="header-box"></div>
  </h1>
  <ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink | safe }}">{{ page.title }}
      </a>
      <div class="text-box"></div>
    </li>
    {% endfor %}
  </ul>

  {% endblock content %}