@import "_extend.scss";

$turrel_black:rgb(6,4,8);
$turrel_purple: rgb(134,24,174);
$turrel_pink: #d72f89;
$emerald: rgba(47, 215, 125, 0.9);
$turrel_blue_purple: rgb(103,57,244);
$turrel_lavender: rgb(139,120,251);
$turrel_aztec_brown: rgb(158,33,76);
$turrel_blue: rgb(68,75,252);
$turrel_earth_brown: rgb(172,60,36);
$turrel_dark_purple:rgb(111,68,218);

$my_white: rgb(207, 190, 245);
$my_gray: rgb(175, 153, 153);
$my_black: rgb(41, 78, 62);

$font_family: 'Monomaniac One', sans-serif;
$text_font_family: 'Bebas Neue', sans-serif;

$grad_red_to_blue: linear-gradient(to bottom, $turrel_aztec_brown, $turrel_blue);
$grad_lime_to_azul: linear-gradient(to bottom, $turrel_pink, $turrel_lavender);
$grad_purple_to_green: linear-gradient(to bottom, $turrel_dark_purple, $turrel_blue_purple); 

@keyframes crtCrackle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 8px 2px;
  }
}
@keyframes slideToBack {
  from {
    transform: translateZ(0px) scale(1);
  }
  to {
    transform: translateZ(-900px) scale(0);
  }
}
@keyframes lensEffect {
  0% {
    transform: perspective(500px) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateY(-60deg);
  }
}


@keyframes darken {
  0% {
    opacity: .3;
  }
  50% {
    opacity: .01;
  }
  85% {
    opacity: .00001;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    z-index: 99999;
    opacity: 1;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes bounceText {
  0% {
    font-size: 9.5vh;
    letter-spacing: 0vw;
  }
  100% {
    font-size: 7.5vh;
    letter-spacing: 0.5vw;
  }
}


#fade-to-black {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: -1; 
  background: black;
  animation: fadein 2s;
  opacity: 0;
  transition: opacity 1s ease-in-out, z-index 0.1ms ease-in-out;
}

h1{
  margin: 0;
  justify-content: left;
  align-items: top;
  text-align: center;
  font-size: 17vh;
  font-family: $font_family;
  color: $my_white;
  opacity: 100%;
  text-shadow: -4px 2px 1px $my_black;
  transition: color 3s ease-in, color 1s ease-out, text-shadow 3s ease-in, text-shadow 1s ease-out, opacity 3s ease-in, opacity 1s ease-out;
}

body {
  margin-top: 0%;
  margin-left: 0%;
  background-size: cover;
  background-position: top;
  background-color: $turrel_black;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
}

.layer {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5em;
  color: $color8;
  text-shadow: 0 0 5px $my_black;
  z-index: -5;
  
  
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    pointer-events: none;
    animation: darken 2s steps(10) infinite alternate-reverse;
  }

  &:nth-child(1) {
    background: linear-gradient(to bottom, $turrel_purple, $turrel_blue);
    box-shadow: inset 0 0 200px $my_black;
    transform: scale(1);
  }

  &:nth-child(2) {
    background: linear-gradient(to bottom, $turrel_pink, $turrel_aztec_brown);
    box-shadow: inset 0 0 400px rgba(0,0,0,0.5);
    transform: scale(0.9);
    transform-origin: bottom;
  }

  &:nth-child(3) {
    background: linear-gradient(to bottom, $turrel_blue, $turrel_blue_purple);
    box-shadow: inset 0 0 500px rgba(0,0,0,0.5);
    transform: scale(0.8);
    transform-origin: bottom;
  }

  &:nth-child(4) {
    background: linear-gradient(to bottom, $turrel_dark_purple, $turrel_lavender);
    box-shadow: inset 0 0 600px rgba(0,0,0,0.5);
    transform: scale(0.7);
    transform-origin: bottom;
  }

  &:nth-child(5) {
    background: linear-gradient(to bottom, $turrel_purple, $turrel_aztec_brown);
    box-shadow: inset 0 0 700px rgba(0,0,0,0.5);
    transform: scale(0.6);
    transform-origin: bottom;
  }
  &:nth-child(6){
    background: linear-gradient(to bottom, $turrel_pink, $turrel_blue_purple);
    box-shadow: inset 0 0 800px rgba(0,0,0,0.5);
    transform: scale(0.5);
    transform-origin: bottom;
  }
  &:nth-child(7){
    background: linear-gradient(to bottom, $turrel_blue, $turrel_lavender);
    box-shadow: inset 0 0 900px rgba(0,0,0,0.5);
    transform: scale(0.4);
    transform-origin: bottom;
  }
  &:nth-child(8){
    background: linear-gradient(to bottom, $turrel_blue, $turrel_purple);
    box-shadow: inset 0 0 1000px rgba(0,0,0,0.5);
    transform: scale(0.3);
    transform-origin: bottom;
  }
  &:nth-child(9){
    background: linear-gradient(to bottom, $turrel_aztec_brown, $turrel_pink);
    box-shadow: inset 0 0 1100px rgba(0,0,0,0.5);
    transform: scale(0.2);
    transform-origin: bottom;
  }
  &:nth-child(10){
    background: linear-gradient(to bottom, $turrel_blue_purple, $turrel_blue);
    box-shadow: inset 0 0 1200px rgba(0,0,0,0.5);
    transform: scale(0.1);
    transform-origin: bottom;
  }
  &:nth-child(11){
    background: linear-gradient(to bottom, $turrel_lavender, $turrel_dark_purple);
    box-shadow: inset 0 0 1300px rgba(0,0,0,0.5);
    transform: scale(0.05);
    transform-origin: bottom;
  }
  &:nth-child(12){
    background: linear-gradient(to bottom, $turrel_aztec_brown, $turrel_pink);
    box-shadow: inset 0 0 1400px rgba(0,0,0,0.5);
    transform: scale(0.025);
    transform-origin: bottom;
  }
  &:nth-child(13){
    background: linear-gradient(to bottom, rgb(215,47,137), rgb(103,57,244));
    box-shadow: inset 0 0 1500px rgba(0,0,0,0.5);
    transform: scale(0.0125);
    transform-origin: bottom;
  }
  &:nth-child(14){
    background: linear-gradient(to bottom, rgb(158,33,76), rgb(68,75,252));
    box-shadow: inset 0 0 1600px rgba(0,0,0,0.5);
    transform: scale(0.00625);
    transform-origin: bottom;
  }
  &:nth-child(15){
    background: linear-gradient(to bottom, rgb(215,47,137), rgb(103,57,244));
    box-shadow: inset 0 0 1700px rgba(0,0,0,0.5);
    transform: scale(0.003125);
    transform-origin: bottom;
  }
  &:nth-child(16){
    background: linear-gradient(to bottom, rgb(158,33,76), rgb(68,75,252));
    box-shadow: inset 0 0 1800px rgba(0,0,0,0.5);
    transform: scale(0.0015625);
    transform-origin: bottom;
  }
}
a{
  color: $my_gray;
  font-size: 8vh;
  font-family: $text_font_family;
  text-shadow: 3px 1px 2px $my_black;
  text-decoration-color: $my_black;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;

}
a:hover{
  color: $turrel_pink;
  text-decoration-color: $emerald;
  animation: bounceText 2.5s ease-in-out infinite alternate;
}
ul {
  position: absolute;
  display: block;
  list-style: none;
  text-decoration: none;
  text-decoration-line: none;
  left: 15vw;
}


