{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ get_url(path="home.css") }}">

</head>
<body>
  <h1 class="title"> 
  <span data-text="Portfolio">
    {{ section.title }}
  </span>
  </h1>
  <ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    <li><a href="{{ get_url(path="work") }}"> Work </a></li>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  <script>
    function getOffset() {
      const header = document.querySelector('[data-text="Portfolio"]');
      console.log(header)
      const list = document.querySelector('ul');
      const headerOffset = header.getBoundingClientRect().left;
      console.log(headerOffset)
      const parentOffset = header.offsetParent.getBoundingClientRect().left;
  
      list.style.left = `${headerOffset - parentOffset - 50}px`;
    }
  
    window.addEventListener('DOMContentLoaded', getOffset);
    window.addEventListener('resize', getOffset);
    window.addEventListener('scroll', getOffset);
  </script>
  
  
  
  <!-- content for the second layer goes here -->
  <!-- content for the third layer goes here -->

  {% block subcontent %}
  {% endblock subcontent %}
  <div class="layer-container">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
  </div>
</body>
{% endblock content %}
